{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>
<h2>{{ .Date.Format "Mon, Jan 2, 2006" }}</h2>
{{ .Content }}

<h3>LATEST POSTS</h3>
<ul>
    {{ range first 5 .Site.Pages }}
    {{ if eq .Type "posts" }}
    <li><a href="{{ .Permalink}}"> {{ .Title }}</a></li>
    {{end }}
    {{end }}
</ul>

{{ partial "footer.html" . }}
