<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
    </head>
    <body>
    <div>
        <a href="{{ .Site.BaseURL }}">Home</a>
        <a href="{{ .Site.BaseURL }}/posts">Posts</a>
        <a href="{{ .Site.BaseURL }}/about">About</a>
    </div>
