{{ partial "header.html" . }}

<h1>Posts</h1>
{{ range first 10 .Data.Pages }}
{{ if eq .Type "posts" }}
<h2><a href="{{ .Permalink}}"> {{ .Title }}</a></h2>
{{end }}
{{end }}


{{ partial "footer.html" . }}
